.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mainContent {
  flex: 1;
  padding: 1rem 2rem;
  overflow-y: auto;
  min-height: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

